body {
    background: linear-gradient(to bottom right, rgb(240, 220, 240), rgb(221, 150, 221), purple);
    animation: change 10s linear infinite;
}

h1 {
    color: purple;
}

hr.purple {
    border-top: 3px solid purple;
}

.card {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;    
}

.card-footer {
    background-color: purple;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-footer,
.card-header {
    text-align: center;
}

.card-text,
.card-title {
    margin-left: 20px;
    text-align: left;
}

.card-header {
    background-color: purple;
    color: white;
}

.text-muted {
    color: white;
}

.card-text{
    height: 40px;
}

.card-title {
    font-size: 16px;
}

.customBtn,
.customBtn2,
.customBtn:hover,
.customBrn2:hover {
    border: 1px solid purple;
}

.customBtn,
.customBtn2 {
    background-color: purple;
    border-color: white;
    color: white;
}

.customBtn {
    margin-left: 20px;
}

.customBtn:hover {
    background-color: purple;
    color: white;
}

/* .navbar {
    background: white;
    border-top: rgb(240, 220, 240) solid 5px;
    padding-bottom: 0;
    padding-top: 0;
}

.navbar-brand {
    background:purple; 
    color: #fff;  
    font-weight: bold;
    padding: 10px 30px;
}

.navbar-brand:hover {
    color: black;
} */

/* The point where the cards are narrow but not yet stacked*/
@media screen and (min-width: 576px) {
    .card-img-top {
        align-self: center;
        height: 150px;
        width: 100px;
    }
    .card-title,
    .card-text {
        font-size: 10px;
    }
}

/* Width at 768px and above, cards are larger sized */
@media screen and (min-width: 768px) {
    .wrapTextUnder {
        float: right;
    }
    .card-img-top {
        align-self: center;
        height: 200px; 
        width: 150px;
    }
    .card-title {
        font-size: 16px;
    }
}